<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales APP</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container py-3">
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
                <h1 class="text-white">Sales APP</h1>
            </div>
        </nav>
        <main class="mt-4"></main>
            <div class="row mb-2 text-center">
                <div class="col">
                    <div class="card mb-3 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Investments</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>FTI</li>
                                <li>RETIREMENT</li>
                                <li>GBA</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Start</button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-3 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Mortgages</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>PURCHASE</li>
                                <li>REFINANCE</li>
                                <li class="text-white">.</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Start</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>